.body
  .header
    .header__title
      Steal_pro
  .maincontents
    .maincontents__left
      = render "battle_field"
    .maincontents__right
      = render "battle_field"
  .footer
    .footer__text
      .footer__text__left
        5
      .footer__text__center
        －
      .footer__text__right
        3